@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.header_left img {
    object-fit: contain;
    height: 50px;
    margin-left: 5px;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;

}

.header_left {
    display: flex;
    align-items: center;
}

.header_left span {
    padding: 10px;
    cursor: pointer;
}

.header_middle {
    display: flex;
    flex: .7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

.material-icons{
    color: grey;
}

.header_middle input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    background: transparent;
    font-size: medium;
}

.header.right {
    display: flex;
    padding-right:  20px;
}

.header.right span{
    padding: 10px;
    cursor: pointer;
}

/*  Sidebar */

.sidebar {
    flex: .3;
    max-width: 300px;
    padding-right: 20;
}

.sidebar_compose{
    width: 120px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: gray;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px black;

}

.sidebar_compose span{
    margin-right: 5px;
}

.sidebarOption {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    color: gray;
}

.sidebarOptions .material-icons{
    padding: 5px;
}

.sidebarOption h3{
    flex: 1;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}

.sidebarOption:hover,
.sidebarOption h3:hover,
.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption_active .material-icons{
    background-color: white;
    color: red;
    font-weight: 800;
}

.sidebar_footer{
    display: flex;
    justify-content: center;
}

.sidebar_footerIcons .material-icons{
    margin: 7px;
    cursor: pointer;
}

.main_body{
    display: flex;
    height: 100vh;
}

body{
   height: 1100vh; 
   overflow-y: hidden;
}

.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList_settings{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
    padding: 10px;
}

.emailList_settingsLeft{
    display: flex;
    align-items: center;
}

.emailList_settings .material-icons{
    margin: 5px;
    cursor: pointer;
}

.section{
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: gray;
    border-width: 0;
}

.emailList_sections{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.section_selected{
    background-color: whitesmoke;
    border-width: 4px;
    color: red;
    border-bottom: 3px solid red;
}

.section_selected .material-icons{
    color: red;
}

.section:hover{
    background-color: whitesmoke;
    border-width: 3px;
}

.section h4{
    font-size: 15px;
    margin-left: 15px;

}

.emailRow_options{
    display: flex;
    align-items: center;
}

.emailRow_options.material-icons, input{
    margin: 5px;
}

.emailRow{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}

.emailRow:hover{
    border-top: 1px  solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow_message{
    display: flex;
    flex: .8;
    align-items: center;
    font-size: 12px;
}

.emailRow_message h4{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.emailRow_title{
    font-size: 13px;
    flex: .3;
}

.emailRow_time{
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}

.emailRow_description{
    font-weight: 400;
    color: gray;
}